.dashboard-content {
    .portfolio {
        padding: 20px 16px 70px 16px;

        background: #2d2a26;

        .portfolio__img {
            width: auto;
            min-height: 190px;

            background: #4f4b48;

            img {
                width: 100%;
            }
        }

        .portfolio__text {
            color: #ffffff;

            display: flex;
            align-items: center;
            flex-direction: column;

            padding-top: 40px;

            .text__box {
                width: 100%;
                color: #ffffff;

                h6 {
                    font-family: Noto Sans KR;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;

                    color: #ffffff;
                    margin-bottom: 7px;
                }

                p {
                    font-family: Noto Sans KR;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;

                    color: #c4c4c4;
                    margin-bottom: 30px;
                }

                h6,
                p {
                    text-align: left;
                    width: 100%;
                }
            }

            .text__box:first-child {
                h6 {
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 22px;

                    color: #ffffff;
                }
                p {
                    font-size: 15px;
                    line-height: 22px;
                    color: #ffffff;
                }
            }
        }
    }

    .list__image {
        padding: 30px 16px 80px 16px;
    }

    .showmore__btn {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 24px;

        button {
            padding: 14px 36px;
            font-family: Noto Sans KR;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;

            color: #8c8c8c;
            background-color: transparent;
            border: 1px solid #8c8c8c;
        }
    }
}

@media only screen and (min-width: 768px) {
    .dashboard-content {
        .portfolio {
            padding: 88px 120px;

            .portfolio__img {
                width: 600px;
                height: 400px;
            }

            .portfolio__text {
                margin-left: 60px;

                .text__box {
                    h6 {
                        font-family: Noto Sans KR;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 22px;
                        color: #ffffff;
                    }

                    p {
                        font-family: Noto Sans KR;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        width: 347px;

                        color: #c4c4c4;

                        margin-bottom: 40px;
                    }
                }

                .text__box:first-child {
                    h6 {
                        font-weight: bold;
                        font-size: 26px;
                        line-height: 22px;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 15px;
                        line-height: 22px;
                        margin-bottom: 48px;
                    }
                }
            }
        }

        .list__image {
            padding: 90px 120px;
        }
    }
}
